<section id="subscribe">
    <div class="container">
        <form  method="post" autocomplete="off">
            <div id="subscribe-area" style="background-image: url('/Public/assets/img/subscribe/photo-of-gray-and-white-tabby-kitten-sitting-on-sofa-2194261\ \(1\).jpg');">
                <h1 class="">Subscribe to our <br> Newsletter</h1>
                <input type="email" name="Email" id="subscribeInput" placeholder="Email......................">
                <a href="" id="subscribeButton"><i class="fas fa-envelope"></i></a>
                <div id="responsed" style="right: 10%; position: absolute; top: 78%;" ></div>
            </div>
        </form>
    </div>
</section>
