
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Error area -->

<section class="error">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6"><img src="~/Public/assets/img/error/13.jpg" alt="error image"> </div>
            <div class="col-sm-12 col-md-6">
                <div>
                    <h1>Error 404!</h1>
                    <h2>
                        We are sorry! <br> This page could not be found.
                    </h2>
                    <p>
                        Can't find what you need? Take a moment and do
                        a search below or start from our <a href="index.html"> homepage.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Error area end-->
